.Header {
    background-color: #000;
}

ul {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    margin: 15px 30px;
    text-decoration: none;
    color: #0F0;
    font-size: 20px;

}

ul>:nth-child(2) {
    font-size: 40px;
    font-weight: bold;
}